:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #111114;

}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  margin-bottom: 20px;
  font-size: 60px;
  font-family: 'AveriaSerifLibre-Bold';
}

h2 {
  height: auto;
  width: 600px;
  text-align: start;
  font-family: 'Firasans-Italic';
  margin-top: 50px;
}

.hero-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  background-image: url('../img/atardecer.jpg');
  background-size: 1600px 750px;
  height: 750px;
  min-width: 1000px;
}

.hero-text {
  padding: 60px 60px 60px 90px;
  display: flex;
  flex-direction: column;
  align-items: start;
}

.hero-text span {
  font-size: 20px;
  color: #fff;
  opacity: 70%;
  font-family: 'AveriaSerifLibre-Regular';
}

/* Estilos para stack tecnológico */

.container-title {
  font-family: 'AveriaSerifLibre-Bold';
  font-size: 32px;
  display: flex;
  align-items: center;
}

.separator {
  width: 80%;
  height: 2px;
  background: linear-gradient(90deg, rgba(68,58,180,1) 13%, rgba(172,29,253,1) 53%, rgba(252,69,103,1) 100%);
  margin-bottom: 30px;
}

.stack-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #010010;
  height: auto;
  align-items: center;
  justify-content: center;
}

.stack-title {
  font-family: 'AveriaSerifLibre-Bold';
  font-style: italic;
  font-size: 40px;
  align-self: center;
}

.stack-group {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 60%;
  height: fit-content;
  margin-bottom: 50px;
}

.frontend {
  height: 300px;
}

.stack-list {
  display: grid;
  grid-template-columns: repeat(3, minmax(100px, 1fr));
  width: fit-content;
  gap: 10px 20px;
  height: auto;
}

.ide {
  grid-template-columns: auto auto;
  gap: 50px;
}

.stack-item {
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-self: center;
  gap: 10px;
  font-family: 'FiraSans-Regular';
  font-size: 20px;
}

.stack-item:hover {
  cursor: pointer;
  transform: scale(1.15);
  transitiOn: transform 0.4s ease-in-out;
}

.stack-item:not(:hover) {
  transition: transform 0.6s ease-in-out;
} 

.icon {
  width: 48px;
  height: auto;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.stack-icon {
  width: 40px;
  filter: invert(0.8);
  margin-right: 10px;
  animation: rotate 4s linear infinite;
}
